<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <link rel="stylesheet" th:href="@{/release/wangEditor.css}">
    <script th:src="@{/release/wangEditor.js}"></script>
    <div id="editor"></div>
    <form th:action="@{/admin/content}" method="post"><input type="hidden" th:value="${tid}" name="tid"><input type="hidden" id="value" name="content"><input type="submit" onclick="copy()"></form>
</div>

  
</body>
<script>

    var E = window.wangEditor;
    var editor = new E('#editor');
    editor.create();
    function copy() {
        document.getElementById("value").value = editor.txt.html();
    }
    
</script>
</html>