<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form th:action="@{/admin/item}" method="post"><input type="hidden" name="_method" value="PUT">
        <input type="hidden" th:value="${item.id}" name="id">
        <input type="text" th:value="${item.name}" name="name">
        <input type="hidden" th:value="${item.sid}" name="sid">
        <input type="submit"></form>


</div>
</body>
</html>